<mat-toolbar color="primary" >
    <button mat-icon-button  id="menuIcon" (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span id="menuTitle">
      Krunal Trading Gruh Udhyog
    </span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="/" class="top-menu-items"><mat-icon>home</mat-icon>Home</a>
    <a mat-button routerLink="/contact" class="top-menu-items"><mat-icon>group</mat-icon>Contact Us</a>
    <a mat-button routerLink="/product" class="top-menu-items"><mat-icon>inventory_2</mat-icon>Products</a>
 
  </mat-toolbar>

  <mat-sidenav-container  >
    <mat-sidenav #sidenav [fixedInViewport]="true" [fixedTopGap]="60" mode="side" class="side-nav-items"
    >
    <div>
      
    <a (click)="sidenav.close()" mat-button routerLink="/" class="side-menu-items"><mat-icon>home</mat-icon>Home</a>
  </div>
  <div>
    <a (click)="sidenav.close()" mat-button routerLink="/contact" class="side-menu-items"><mat-icon>group</mat-icon> Contact Us</a>
  </div>
  <div>
    <a (click)="sidenav.close()" mat-button routerLink="/product" class="side-menu-items"><mat-icon>inventory_2</mat-icon> Products</a>  
  </div>
 
  </mat-sidenav>
    <mat-sidenav-content>
      <div class="main-content">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

<footer id="footer">
   
      Krunal Trading Gruh Udhyog | Terms & Conditions | Privacy Policy
 

    
 
    
  
</footer>