<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">  
            <div class="card">
                <img  src="assets/mustard.png" alt="Photo of mustard oil">
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">  
            <div class="card">
            <img src="assets/Almond.png" alt="Photo of Almond oil">
            </div>
        </div>
         
        <div class="col-12 col-md-6 col-lg-4">  
            <div class="card">
            <img src="assets/coconut.png" alt="Photo of coconut oil">
        </div>
        </div>
        
         <div class="col-12 col-md-6 col-lg-4">  
            <div class="card">
            <img src="assets/Groundnut.png" alt="Photo of Groundnut oil">
        </div>
        </div>

         <div class="col-12 col-md-6 col-lg-4">  
            <div class="card">
            <img src="assets/Sesame.png" alt="Photo of Sesame oil">
         </div>
        </div>
        </div>
    </div>



  
        